{% extends 'layout/base.html.twig' %}

{% block title_page %}
 {{ 'student.mark.title'|trans }}
{% endblock %}

{% block heading_actions %}
    <a href="" data-uk-tooltip="{pos:'bottom'}" title="{{ 'action.print'|trans }}">
        <i class="material-icons">&#xE555;</i>
    </a>
    <a href="" data-uk-tooltip="{pos:'bottom'}" title="{{ 'action.picture'|trans }}">
        <i class="material-icons">&#xE3B0;</i>
    </a>
{% endblock %}

{% block body %}

    {% include 'layout/filter_form_layout.html.twig' with {'form': form , 'form_name' : 'student.mark.title' } %}
    {% if marks is defined and typeExams is defined %}
      <div class="hierarchical_show uk-margin-medium-top">
        {% include 'layout/note_view.html.twig' with {'typeExams': typeExams , 'marks' : marks } %}
      </div>
    {% endif %}
{% endblock %}
