{% extends 'frontLayout/base.html.twig' %}
{% block body %}
        <!-- start revolution slider 5.0 -->
        <section class="rev_slider_wrapper">
         <div class="rev_slider matrox-slider">
          <ul>

            <!-- slide 1 start --> 
            <li data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="asset/img/banner/banner-1.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Matrox Material" data-description="">
            
                <!-- MAIN IMAGE -->
                <img src="asset/img/banner/banner-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption rev-heading text-extrabold dark-text tp-resizeme"
                    data-x="center"
                    data-y="center" data-voffset="-50" 
                    data-fontsize="['60','60','60','45']"
                    data-lineheight="['60','60','60','50']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;" 
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                    data-start="800" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap;">We Are Matrox
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme rev-subheading  dark-text text-center"
                    data-x="center"
                    data-y="center" data-voffset="30"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
         
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;" 
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                    data-start="1000" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"
                    style="z-index: 6; white-space: nowrap;">Matrox is an interactive agency. Which develops websites <br> and premium mobile applications.
                </div>

            </li>
            <!-- slide 1 end -->
          </ul>             
         </div><!-- end revolution slider -->
        </section><!-- end of slider wrapper -->

        <section class="section-padding">
            <div class="container">

              <div class="text-center mb-80">
                  <h2 class="section-title text-uppercase">Who we are</h2>
              </div>

              <div class="row">
                <div class="col-md-12">

                    <div class="icon-tab">

                      <!-- Nav tabs -->
                      <div class="text-center">
                        <ul class="nav nav-pills" role="tablist">

                          <li role="presentation"><a href="#icontab-1" class="waves-effect waves-light"  role="tab" data-toggle="tab"> <i class="material-icons">&#xE7FD;</i></a></li>

                          <li role="presentation" class="active"><a href="#icontab-2" class="waves-effect waves-light" role="tab" data-toggle="tab"> <i class="material-icons">&#xE3B7;</i></a></li>

                          <li role="presentation"><a href="#icontab-3" class="waves-effect waves-light" role="tab" data-toggle="tab"> <i class="material-icons">&#xE53B;</i></a></li>
                          <li role="presentation"><a href="#icontab-4" class="waves-effect waves-light" role="tab" data-toggle="tab"> <i class="material-icons">&#xE859;</i></a></li>
                        </ul>
                      </div>

                      <!-- Tab panes -->
                      <div class="panel-body mt-40">
                        <div class="tab-content">
                          <div role="tabpanel" class="tab-pane fade" id="icontab-1">

                            <div class="row">
                              <div class="col-md-6">
                                  <h2 class="text-bold mb-40">About us</h2>
                                  <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
                              </div>

                              <div class="col-md-6">
                                  <img src="asset/img/workstation.jpg" alt="image" class="img-responsive">
                              </div>
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane fade in active" id="icontab-2">
                            <div class="row">
                              <div class="col-md-6">
                                  <h2 class="text-bold mb-40">Our Mission</h2>
                                  <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
                              </div>

                              <div class="col-md-6">
                                  <img src="asset/img/mission.jpg" alt="image" class="img-responsive">
                              </div>
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane fade" id="icontab-3">
                            <div class="row">
                              <div class="col-md-6">
                                  <h2 class="text-bold mb-40">What We Do</h2>
                                  <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
                              </div>

                              <div class="col-md-6">
                                  <img src="asset/img/idea.jpg" alt="" class="img-responsive">
                              </div>
                            </div>
                          </div>
                          
                          <div role="tabpanel" class="tab-pane fade" id="icontab-4">
                            <div class="row">
                              <div class="col-md-6">
                                  <h2 class="text-bold mb-40">Our Setps</h2>
                                  <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
                              </div>

                              <div class="col-md-6">
                                  <img src="asset/img/workstation2.jpg" alt="image" class="img-responsive">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div><!-- /.icon-tab -->

                </div><!-- /.col-md-12 -->
              </div><!-- /.row -->

            </div><!-- /.container -->
        </section>

        <section class="section-padding gray-bg wow fadeInUp" data-wow-delay=".6s">
            <div class="container">

              <div class="text-center mb-80">
                  <h2 class="section-title text-uppercase">What we do</h2>
                  <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam. Nulla ac nisi rhoncus,</p>
              </div>

              <div class="row equal-height-row">

                  <div class="col-md-4 mb-30">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE32A;</i>
                        </div>
                        <div class="desc">
                            <h2>We are creative</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->


                  <div class="col-md-4 mb-30">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE0BF;</i>
                        </div>
                        <div class="desc">
                            <h2>We are awesome</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->


                  <div class="col-md-4 mb-30">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE323;</i>
                        </div>
                        <div class="desc">
                            <h2>We are Taltented</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->


                  <div class="col-md-4">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE32A;</i>
                        </div>
                        <div class="desc">
                            <h2>We are secured</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->


                  <div class="col-md-4">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE149;</i>
                        </div>
                        <div class="desc">
                            <h2>We are awesome</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->


                  <div class="col-md-4">
                    <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
                        <div class="icon mb-30">
                            <i class="material-icons brand-icon">&#xE0C9;</i>
                        </div>
                        <div class="desc">
                            <h2>We are Taltented</h2>
                            <p>Porttitor communicate pandemic data rather than enabled niche pandemic data rather markets neque pulvinar vitae.</p>
                        </div>
                    </div><!-- /.featured-item -->
                  </div><!-- /.col-md-4 -->                                  
              </div><!-- /.row -->

            </div><!-- /.container -->
        </section>

        <section id="count1">
              <div class="container-fluid">

                  <div class="row text-center">

                      <div class="col-sm-3 counter-wrap light-blue">
                        <strong class="white-text"><span class="timer">545</span>+</strong>
                        <span class="count-description white-text">Client Work With Us</span>
                      </div> <!-- /.col-sm-3 -->

                      <div class="col-sm-3 counter-wrap deep-purple">
                        <strong class="white-text"><span class="timer">535</span>+</strong>
                        <span class="count-description white-text">Happy Clients</span>
                      </div><!-- /.col-sm-3 -->

                      <div class="col-sm-3 counter-wrap light-blue">
                        <strong class="white-text"><span class="timer">1544</span>+</strong>
                        <span class="count-description white-text">Cups Of Coffee</span>
                      </div><!-- /.col-sm-3 -->

                      <div class="col-sm-3 counter-wrap deep-purple">
                        <strong class="white-text"><span class="timer">111</span>+</strong>
                        <span class="count-description white-text">Awards Won</span>
                      </div><!-- /.col-sm-3 -->
                  </div>
              </div><!-- /.container -->
        </section>

        <section class="section-padding gray-bg">
            <div class="container">

              <div class="text-center mb-80">
                  <h2 class="section-title text-uppercase">
                    SIMPLE PRICING FOR SCHOOL MANAGEMENT SOFTWARE</h2>
                  <p class="section-sub">Very simple and straight forward pricing, avoid all hidden fees. Month to month contract. Paid by the Institution.</p>
              </div>

              <div class="row">
                <div class="col-md-4">
                    <div class="pricing-table">
                        <div class="table-contents text-center">
                            <div class="table-header brand-hover">
                                <div class="package-name">
                                    <span>Basic</span>
                                </div> 

                                <div class="package-price">
                                    <span class="currency-symbol">$</span>
                                    <span class="price">59</span>
                                    <span class="currency-code">/Day</span>
                                </div>
                            </div> <!-- /.table-header -->

                            <div class="table-info">
                                <ul>
                                    <li>Front Seats</li>
                                    <li>Free Snacks</li>
                                    <li>Printed T-Shirt</li>
                                    <li><del>Workshop</del></li>
                                    <li><del>Certificate</del></li>
                                </ul>                                
                            </div><!-- /.table-info -->

                            <div class="table-footer">
                                <div class="purchase-button">
                                    <a class="btn btn-lg text-capitalize waves-effect waves-light" href="">Buy Now</a>
                                </div>   
                            </div> <!-- /.table-footer -->
                        </div> <!-- /.table-contents -->
                    </div><!-- /.pricing-table -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="pricing-table">
                        <div class="table-contents text-center">
                            <div class="table-header brand-hover">
                                <div class="package-name">
                                    <span>Standard</span>
                                </div> 

                                <div class="package-price">
                                    <span class="currency-symbol">$</span>
                                    <span class="price">79</span>
                                    <span class="currency-code">/Day</span>
                                </div>
                            </div> <!-- /.table-header -->

                            <div class="table-info">
                                <ul>
                                    <li>Front Seats</li>
                                    <li>Free Snacks</li>
                                    <li>Printed T-Shirt</li>
                                    <li>Workshop</li>
                                    <li><del>Certificate</del></li>
                                </ul>                                
                            </div><!-- /.table-info -->

                            <div class="table-footer">
                                <div class="purchase-button">
                                    <a class="btn btn-lg text-capitalize waves-effect waves-light" href="">Buy Now</a>
                                </div>   
                            </div> <!-- /.table-footer -->
                        </div> <!-- /.table-contents -->
                    </div><!-- /.pricing-table -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="pricing-table">
                        <div class="table-contents text-center">
                            <div class="table-header brand-hover">
                                <div class="package-name">
                                    <span>Premium</span>
                                </div> 

                                <div class="package-price">
                                    <span class="currency-symbol">$</span>
                                    <span class="price">99</span>
                                    <span class="currency-code">/Day</span>
                                </div>
                            </div> <!-- /.table-header -->

                            <div class="table-info">
                                <ul>
                                    <li>Front Seats</li>
                                    <li>Free Snacks</li>
                                    <li>Printed T-Shirt</li>
                                    <li>Workshop</li>
                                    <li>Certificate</li>
                                </ul>                                
                            </div><!-- /.table-info -->

                            <div class="table-footer">
                                <div class="purchase-button">
                                    <a class="btn btn-lg text-capitalize waves-effect waves-light" href="">Buy Now</a>
                                </div>   
                            </div> <!-- /.table-footer -->
                        </div> <!-- /.table-contents -->
                    </div><!-- /.pricing-table -->
                </div><!-- /.col-md-4 -->
              </div><!-- /.row -->
            </div><!-- /.container -->

        </section>

        <section class="section-padding brand-bg wow fadeInUp" data-wow-delay=".6s">
          <div class="container">

            <div class="text-center mb-80">
                  <h2 class="section-title text-uppercase">Happy Clients Saying...</h2>
                  <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
              </div>

              <div class="row">
                <div class="col-md-8 col-md-offset-2">

                  <div class="thumb-carousel circle-thumb text-center">
                    <ul class="slides">
                      <li data-thumb="asset/img/client-thumb/5.png">
                        <div class="icon">
                            <img src="asset/img/quote-dark.png" alt="Customer Thumb">
                        </div>
                        <div class="content white-text">
                            <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                            <div class="testimonial-meta">
                                John Doe,
                                <span class="white-text">User Interface Designer</span> 
                            </div>
                        </div>
                      </li>
                      <li data-thumb="asset/img/client-thumb/2.png">
                        <div class="icon">
                            <img src="asset/img/quote-dark.png" alt="Customer Thumb">
                        </div>
                        <div class="content white-text">
                            <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                            <div class="testimonial-meta">
                                Elita Karim,
                                <span class="white-text">User Interface Designer</span> 
                            </div>
                        </div>
                      </li>
                      <li data-thumb="asset/img/client-thumb/3.png">
                        <div class="icon">
                            <img src="asset/img/quote-dark.png" alt="Customer Thumb">
                        </div>
                        <div class="content white-text">
                            <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                            <div class="testimonial-meta">
                                Tomas Udoya,
                                <span class="white-text">User Interface Designer</span> 
                            </div>
                        </div>
                      </li>
                      <li data-thumb="asset/img/client-thumb/4.png">
                        <div class="icon">
                            <img src="asset/img/quote-dark.png" alt="Customer Thumb">
                        </div>
                        <div class="content white-text">
                            <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>

                            <div class="testimonial-meta">
                                Jonathon Bin,
                                <span class="white-text">User Interface Designer</span> 
                            </div>
                        </div>
                      </li>
                    </ul>
                  </div>

                </div>
              </div><!-- /.row -->

          </div><!-- /.container -->
        </section>

        <section class="section-padding">
            <div class="container">
              <div class="text-center mb-80">
                  <h2>Team Member Style Four</h2>
                  <p>Lorem ipsum dolor sit amet consecte.</p>
              </div>

              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="team-wrapper">
                      <div class="team-img">
                          <a href="#"><img src="asset/img/team/team-6.jpg" class="img-responsive" alt="Image"></a>
                      </div><!-- /.team-img -->

                      <div class="team-title">
                          <h3><a href="#">Jonathan Smith</a></h3>
                          <span>ceo &amp; founder</span>
                          <p>A id a torquent tortor at lacus et donec platea eu scelerisque maecenas ac eros a adipiscing id lobortis cum lacus erat. </p>
                      </div><!-- /.team-title -->

                      <ul class="team-social-links list-inline text-center">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                          <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                      </ul>

                  </div><!-- /.team-wrapper -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4 col-sm-6">
                  <div class="team-wrapper">
                      <div class="team-img">
                          <a href="#"><img src="asset/img/team/team-7.jpg" class="img-responsive" alt="Image"></a>
                      </div><!-- /.team-img -->

                      <div class="team-title">
                          <h3><a href="#">brauns hizzle doe</a></h3>
                          <span>front end developer</span>
                          <p>A id a torquent tortor at lacus et donec platea eu scelerisque maecenas ac eros a adipiscing id lobortis cum lacus erat. </p>
                      </div><!-- /.team-title -->

                      <ul class="team-social-links list-inline text-center">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                          <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                      </ul>

                  </div><!-- /.team-wrapper -->
                </div><!-- /.col-md-4 -->
                
                <div class="col-md-4 col-sm-6">
                  <div class="team-wrapper">
                      <div class="team-img">
                          <a href="#"><img src="asset/img/team/team-8.jpg" class="img-responsive" alt="Image"></a>
                      </div><!-- /.team-img -->

                      <div class="team-title">
                          <h3><a href="#">eftakher doe</a></h3>
                          <span>ui &amp; ux designer</span>
                          <p>A id a torquent tortor at lacus et donec platea eu scelerisque maecenas ac eros a adipiscing id lobortis cum lacus erat. </p>
                      </div><!-- /.team-title -->

                      <ul class="team-social-links list-inline text-center">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                          <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                      </ul>

                  </div><!-- /.team-wrapper -->
                </div><!-- /.col-md-4 -->
              </div><!-- /.row -->
            </div><!-- /.container -->
        </section>

        <div class="full-width promo-box brand-bg mb-50">
            <div class="container">
                <div class="col-md-12">
                    <div class="promo-info">
                        <span class="white-text text-uppercase">Are you impressed with our creative work? </span>
                        <h2 class="white-text text-bold text-uppercase no-margin">start building your project with Matrox</h2>
                    </div>
                    <div class="promo-btn">
                        <a href="#" class="btn white waves-effect waves-grey">purchase now</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- contact-form-section -->
        <section class="section-padding">
          
          <div class="container">

              <div class="text-center mb-80">
                  <h2 class="section-title text-uppercase">Drop us a line</h2>
                  <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
              </div>

            <div class="row">
                <div class="col-md-8">
                    <form name="contact-form" id="contactForm" action="sendemail.php" method="POST">

                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-field">
                            <input type="text" name="name" class="validate" id="name">
                            <label for="name">Name</label>
                          </div>

                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6">
                          <div class="input-field">
                            <label class="sr-only" for="email">Email</label>
                            <input id="email" type="email" name="email" class="validate" >
                            <label for="email" data-error="wrong" data-success="right">Email</label>
                          </div>
                        </div><!-- /.col-md-6 -->
                      </div><!-- /.row -->

                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-field">
                            <input id="phone" type="tel" name="phone" class="validate" >
                            <label for="phone">Phone Number</label>
                          </div>
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6">
                          <div class="input-field">
                            <input id="website" type="text" name="website" class="validate" >
                            <label for="website">Your Website</label>
                          </div>
                        </div><!-- /.col-md-6 -->
                      </div><!-- /.row -->

                      <div class="input-field">
                        <textarea name="message" id="message" class="materialize-textarea" ></textarea>
                        <label for="message">Message</label>
                      </div>

                      <button type="submit" name="submit" class="waves-effect waves-light btn submit-button pink mt-30">Send Message</button>
                    </form>
                </div><!-- /.col-md-8 -->

                <div class="col-md-4 contact-info">

                    <address>
                      <i class="material-icons brand-color">&#xE55F;</i>
                      <div class="address">
                        1355 Market Street, Suite 900<br>
                        San Francisco, CA 94103

                        <hr>

                        <p>Hoffman Parkway, P.O Box 154 Mountain View.<br>
                        United States of America.</p>
                      </div>

                      <i class="material-icons brand-color">&#xE61C;</i>
                      <div class="phone">
                        <p>Fax: (123) 456-7890<br>
                        Phone: (123) 456-7890</p>
                      </div>

                      <i class="material-icons brand-color">&#xE0E1;</i>
                      <div class="mail">
                        <p><a href="mailto:#">first.last@example.com</a><br>
                        <a href="#">www.yourdomain.com</a></p>
                      </div>
                    </address>

                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
          </div>
        </section>
        <!-- contact-form-section End -->
{% endblock %}