{% extends 'frontLayout/base.html.twig' %}

{% block body %}
  <section class="section-padding gray-bg">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="booking-form-wrapper">
          <div class="card-wrapper"></div>
          <div class="card-wrapper">
            <h1 class="title">{{ 'reset.title'|trans }}</h1>
            <div class="login-container">
              <p>
                {{ "reset.send_email"|trans({'%tokenLifetime%': tokenLifetime}) }}
              </p>
            </div>
            <div class="login-container">
              <a class="btn btn-block waves-effect waves-light" href="{{ path('login') }}">
                {{"login.page_title"|trans}}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
