{% extends 'layout/base.html.twig' %}

{% block sticky_button %}
<a class="md-fab md-fab-accent md-fab-wave waves-effect waves-button" href="{{ path('cart_index') }}">
    <i class="material-icons">&#xE145;</i>
</a>
{% endblock %}

{% block title_page %}
 {{ 'orderprovider.list.title'|trans }}
{% endblock %}

{% block body %}
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            {{ datatable_render(orderProviders) }}
        </div>
    </div>
{% endblock %}
