{% extends 'layout/base.html.twig' %}

{% block sub_title_page %}
	<p class="uk-text-bold uk-margin-small-top">
		<i class="uk-input-group-icon uk-icon-calendar"></i> {{attendance_date|date("d/m/Y")}}
	</p>
{% endblock %}

{% block sticky_button %}
<a class="md-fab md-fab-primary" href="{{ url('attendance_student_show' , {'id' : section.id}) }}">
	<i class="material-icons">&#xE879;</i>
</a>
{% endblock %}

{% block title_page %}
 {{ 'attendance.list.title'|trans }}
{% endblock %}

{% block body %}
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            {{ datatable_render(attendances) }}
        </div>
    </div>
{% endblock %}
